/* Header */
header
{
box-shadow: 0 0 30px 0 silver;
height: 90px;
padding-top: 10px;
padding-left: 30px;
}

.headerContainer {
  display: flex;
}
header a {
  color: black;
  font-size: 13px;
  font-weight: bold;
}
 .nav .a-men:hover
{
  background-color: white;
 color: black;
 padding-bottom: 30px;
 border-bottom: 5px solid #EF4B4B;
}
.nav .a-men:focus
{
 background-color: white;
 color: black;
}
.nav .a-women:hover
{
 background-color: white;
color: black;
border-bottom: 5px solid #fe59d7;
}
.nav .a-women:focus
{
background-color: #fe59d7;
color: black;
}

.nav .a-kids:hover
{
 background-color: white;
color: black;
border-bottom: 5px solid tomato;
}
.nav .a-kids:focus
{
background-color: white;
color: black;
}

.nav .a-home:hover
{
 background-color: white;
color: black;
border-bottom: 5px solid #fdd043;
}
.nav .a-home:focus
{
background-color: white;
color: black;
}
.nav .a-discover:hover
{
 background-color: white;
color: black;
border-bottom: 5px solid #15cda8;
}
.nav .a-discover:focus
{
background-color: white;
color: black;
}

.rightNav
{
  display: flex;
}
.leftNav
{
  display: flex;
}
/* Search */
.search
{
  margin-top: 15px;
  padding-left: 2%;
  width: 40%;
}
.search input
{
  border-left: none;
float: left;
font-size: 14px;
color: #696E79;
background-color: #F5F5F6;
border: 1px solid #F5F5F6;
height: 40px;

}
.form-control:focus {
  color: #495057;
  background-color: #F5F5F6;
  border-color:#F5F5F6;
  outline: 0;
  box-shadow: none;
}
.btn:focus {
  color: #495057;
  background-color: #F5F5F6;
  border-color:#F5F5F6;
  outline: 0;
  box-shadow: none;
}

.btn:hover
{
  cursor: auto;
}
.btn:focus
{
outline-color: none;
outline-offset: none;
}
button :focus
{
  outline: none;
}

.search button
{
  border-right: none;
float: left;
font-size: 14px;
color: #696E79;
border: 1px solid #F5F5F6;
background-color: #F5F5F6;
height: 40px;
}
.search :focus
{
  background-color: white;
}
.search:focus .search-button
{
  background-color: white;
}
/* Myntra Logo */
.logo {
  height: 50px;
  width: 30px;
  margin-right: 70px;
}

.slideshow
{
  z-index: 1;
}
/* Profile */
.cards {
  width: 300px;
  height: 400px;
  box-shadow:5px 1px 1px 5px silver;
  align-items: center;
}

.cards hr {
  width: 250px;

}

.profile a:hover {
  border-bottom: 5px solid #ef4b4b;
  width: 125px;
}

.profileCard {
  display: none;
}

.profile:hover .profileCard {
  display:block;
  position:absolute;
  top: 84px;
  left: -80px;
  margin-right:20px;
  background-color: white;
  z-index: 1;
}


.list li a
{
  padding: 2px;
  margin-left: 30px;
}
.button
{
  color: red;
  font-weight: bold;

}
.button:hover
{
  color: red;
  border: 1px solid red;
  background-color: white;
}
/* Men Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  z-index: 1;
  min-height: 500px;
  min-width: 1300px;
}

.dropdown-content a {
  color: black;
  display: block;
  text-decoration: none;
  font-weight: lighter;
  font-size: 14px;
}

.dropdown-content a:hover {
  font-weight: bold;
}
.men .heading
{
  font-weight: bold;
  color: #EF4B4B;
  padding: 10px 0 10px 0;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown .men{
  position: absolute;
  left: -50px;
  top: 70px;
}
.dropdown .women{
  position: absolute;
  left: -107px;
  top: 70px;
}

.dropdown .kids{
  position: absolute;
  left: -184px;
  top: 70px;
}

.dropdown .home{
  position: absolute;
  left: -243px;
  top: 70px;
}

.dropdown .discover{
  position: absolute;
  left: -357px;
  top: 70px;
}
.dropdown .even
{
  background-color: rgb(250, 251, 252);
}
nav li a:hover
{
  background-color: white;
}
/* footer */
footer
{
  padding-left: 200px;
  padding-right: 200px;
  background-color: #DCDCDC;
  min-height: 200px;
  margin-top: 100px;
  z-index: -1;
}
footer .footerImage
{
  height: 50px;
  width: 170px;
}
.popularSearches a::after
{
  content: " | "
}
footer hr
{
  display: inline-block;
  border: 1px solid silver;
}
footer a
{
  text-decoration: none;
  color: gray;
  font-size: 15px;
  font-weight: lighter;
}
footer a:hover
{
  text-decoration: none;
  color: gray;
  cursor:pointer;
}
.jumbotron p
{
  font-size: 12px;
  font-weight: bolder;
  padding-bottom: 15px;
  padding-top: 20px;
}
.jumbotron
{
      background: rgb(250, 251, 252);
}
.desktop-original {
    display: inline-block;
    float: left;
    margin-left: -10px;
    margin-right: 10px;
}
.sprites-original {
    background-position: -421.5px 0px;
    width: 47.5px;
    height: 40px;
}
.myntraweb-footer-sprite {
    background: url(https://assets.myntassets.com/assets/images/2017/2/3/11486103069298-footerSprite.png);
    background-size: 706px 49px;
    display: inline-block;
}
.desktop-return {
    display: inline-block;
    float: left;
    margin-right: 15px;
}
.sprites-return {
    background-position: -469.5px 0px;
    width: 34.5px;
    height: 40px;
}
.desktop-delivery {
    display: inline-block;
    float: left;
    margin-right: 15px;
}

.sprites-delivery {
    background-position: -504.5px 0px;
    width: 38px;
    height: 40px;
}
.desktop-section
{
  padding: 20px;
}
.items {
  width: 90%;
  margin: 0px auto;
  margin-top: 100px
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

/* The grid: Four equal columns that floats next to each other */
.column {
  float:left;
  width: 25%;
  padding: 15px;
   margin: auto;
    overflow: hidden;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8;  
  cursor: pointer; 
}

.column img:hover {
  opacity: 5;
  
}

/* The expanding image container */
.container {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 25px;
  left: 15px;
  color: white;
  font-size: 20px;
}
 * {
        box-sizing: border-box;
      }
      .parent {
        position: relative;
    width: 350px;
    height: 250px;
    margin: 0;
	
      }
      .parent img {
        vertical-align: middle;
		border: 3px solid #e9b0df;
		border-radius: 1em;
		border-top-left-radius: 1em;
		border-top-right-radius:    1em;
		border-bottom-right-radius: 1em;
		border-bottom-left-radius:  1em;

      }
      .parent .text {
        position: absolute;
        bottom:0;
		text-bottom:50px;
		font-size:50%;
		text-align:center;
        background: rgb(0, 0, 0);/* Fallback color */
        background: rgba(0, 0, 0, 0.5);/* Black background with opacity */
        color: #ffffff;
        width: 75%;
		height:40%;
        padding: 20px;
		border-radius: 1em;
		border-top-left-radius: 1em;
		border-top-right-radius:    1em;
		border-bottom-right-radius: 1em;
		border-bottom-left-radius:  1em;

      }
      #wrapper {
        width: 800px;
        margin: 0 auto;
      }
      img {
          width: 100%;
          height:400px;
      }
      
      .menu-item {
        width: 75%;
      }
      .menu-item ul {
        float: right;
        list-style: none;
      }
      .menu-area {
        overflow: hidden;
      }
      .menu-area ul li {
        display: inline-block;
      }
      .menu-area ul li a {
        display: inline-block;
        padding: 10px 15px;
        text-transform: uppercase;
        text-decoration: none;
        color: #000;
      }
      #wrapper {
        width: 1300px;
        margin: 0 auto;
      }
      img {
          width: 100%;
          height:400px;
      }
      .logo {
        
        float: left;
      }
      .menu-item {
        width: 75%;
      }
      .menu-item ul {
        float: right;
        list-style: none;
      }
      .menu-area {
        overflow: hidden;
      }
      .menu-area ul li {
        display: inline-block;
      }
      .menu-area ul li a {
        display: inline-block;
        padding: 10px 15px;
        text-transform: uppercase;
        text-decoration: none;
        color: #000;
      }
      @media (max-width: 767px) {
        #wrapper {
          width: 70%;
        }
        .logo {
          float: none;
          width: 100%;
          text-align: center;
        }
        .menu-item {
          width: 100%;
          text-align: center;
        }
        .menu-item ul {
          float: none;
          padding: 0;
        }
        .menu-area ul li a {
          padding: 5px;
          font-size: 11px;
        }
      }
      

