/* Header */
header {
  background-color: #fff;
  width: 100%;
  min-height: 60px;
  max-width: 92%;
  margin: auto;
}

.headerContainer {
  display: flex;
}
/* Myntra Logo */
.logo {
  height: 50px;
  width: 50px;
  margin-right: 70px;
  margin-top: 10px;
}
header .bag, .secure
{
  margin-left: 300px;
  margin-top: 27px;
  font-size: 10px;
  font-weight: bold;
 letter-spacing: 3px;
 color: #696b79;
}
header .bag span
{
  color: #20bd99;
    border-bottom: 2px solid #20bd99;
}
.secure img
{
  height: 30px;
  width:30px;
}
.delivery
{
  border: 1px solid silver;
  padding: 10px;
  border-radius: 5px;
}
.delivery img{
  height: 30px;
}
.offer
{
  border: 1px solid silver;
  border-left: 3px solid #20bd99;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0 10px 0;
}
.shopping
{
  margin: 10px 0 10px 0;
  font-size: 20px;
}
.product, .product1
{
  margin: 10px 0 10px 0;
  border: 1px solid silver;
  border-radius: 5px;
  padding: 5px;
}
.remove, .remove1
{
  cursor: pointer;
}
/* See More/Less */
.more
{
  display: none;
}
.btn {
    border: none;
    color: white;
    padding: 10px 15px;
    font-size: 11px;
    cursor: pointer;
    font: bold;
  }
  .info {background-color: #2196F3;} /* Blue */
  .info:hover {background: #0b7dda;}

  .buton {
    border: none;
    outline: 0;
    padding: 15px;
    background-color: rgb(245, 96, 200);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
  }
  
  .buton:hover {
    opacity: 0.7;
  }
  .card {
      border:5px;
      border-color: black;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    max-width: 350px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }